---
import "../style/style.css";

import LibraryNav from "../components/Librarynav.astro";
import MusicCards from "../components/MusicCards.astro";
import Mainbox from "../components/Mainbox.astro";
import NavigationLogin from "../components/NavigationLogin.astro";
import Navigationlogo from "../components/Navigationlogo.astro";
import LeftBox from "../components/LeftBox.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <LeftBox />

    <Mainbox />
  </body>
</html>
