---
import Navigationlogo from "../components/Navigationlogo.astro";
import LibraryNav from "../components/Librarynav.astro";
---

<section>
  <Navigationlogo />
  <LibraryNav />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: fixed;
    width: 300px;
    height: 100%;
    
  }
</style>
