---

---
<div>
<a href=""> <img src="/back-btn.svg" alt="" /></a>
<a href=""> <img src="/forward-btn.svg" alt="" /></a>
</div>
<style>
    div{
        gap: 2em;
        padding-left: 10px;
        padding-top: 10px;
       
    }
    img{
        width: 30px;
    }
</style>
