---
import Logo from "./Logo.astro";
import HomeSearch from "./HomeSearch.astro";
---

<nav>
  <Logo />
  <HomeSearch destination="http://localhost:4322/" header="Home" url="/home.svg"/>
  <HomeSearch destination="/search" header="Search" url="/search-icon.svg"/>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    background-color: rgba(46, 43, 43, 0.998);
    border-radius: 8px;
  }
</style>
